@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@0;1&display=swap');

/**{*/
/*    margin:0;*/
/*    padding:0;*/
/*    box-sizing: border-box;*/

/*    font-family: 'Ubuntu Mono', monospace;*/
/*}*/

.beer-first-brewed {
    display:flex;
    justify-content: flex-end;
    font-style: italic;
    font-size: 14px;
}

.beer-name {
    font-size: 22px;
    margin-bottom: 5px;
}
.beer-tagline {
    font-size: 12px;
    font-style: italic;
    flex-grow:1;

}

.h-line {
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    /*flex-grow:1;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}
.container {
    display: flex;
    justify-content:center;
    /*flex-basis: 1000px;*/
    /*flex-grow:0;*/
    max-width: 1000px;
    /*margin:0 100px;*/
    margin:auto;

    /*border-style: dotted;*/
    /*border-color: blue;*/
}

.beer-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
    margin: 50px 20px;
    width:100%;

    list-style-type: none;


/*border-style: dotted;*/
    /*border-color: red;*/

}


.beer-item {
    user-select: none;
    display:flex;
    flex-direction:column;

    background-color: hsla(94, 18%, 90%, 1);
    border-radius: 5px;
    padding:15px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
    cursor: pointer;
}

.beer-item:hover{
    background-color: hsl(40, 40%, 80%);
}

.beer-details{
   display:flex;
    flex-direction: row;

}
.tile-details{
    flex-grow: 1;
}
/*.beer-item :*/

.tile-details {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.tile-details-row {
    display:flex;
    flex-grow:1;
    align-items: center;
}

.graph-type{
    display:flex;
    flex-basis: 80px;
    justify-content: right;
    margin-right:5px;

}

.graph-box {
    flex-grow:1;
    justify-content: center;
    align-items: center;
    background-color: white;

    height:5px;
    border-radius:2px;
    border-color: black;
}

.graph-box--bar {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    height:100%;
    border-radius:2px;
}

.graph-value {
    display:flex;
    flex-basis: 60px;
    margin-left:5px;
}

.alcohol {
    background-color: blue;
    width:80%;
}
.bitterness {
    background-color: orange;
    width:30%;
}

.acidity {
    background-color: purple;
    width:10%;
}