
.sort-container{
    display:flex;

    justify-content: space-between;
    max-width: 250px;
    margin:20px;
}

.filter-container{
    display: flex;
    justify-content: center;
    background-color: hsl(41, 40%, 80%);
    padding:1px;
    border-width: 1px;
    border-color: hsl(41, 30%, 60%);
    border-style: solid;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.search-field {
    padding:5px;
}
.search-button{
    font-size: 15px;
    width:80px;
    padding:5px;

    margin:20px auto;
}

.search-button:hover{
    background-color: lightgray;
    cursor:pointer;
}

.nothing-found {
    padding-top:40px;
    font-size:18px;
    margin:auto;
}
.beer-first-brewed {
    display:flex;
    justify-content: flex-end;
    font-style: italic;
    font-size: 14px;
}

.beer-name {
    font-size: 22px;
    margin-bottom: 5px;
}
.beer-tagline {
    font-size: 12px;
    font-style: italic;
    flex-grow:1;

}

.h-line {
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}
.container {
    display: flex;
    justify-content:center;
    max-width: 1000px;
    margin:auto;
}

.beer-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:10px;
    margin: 10px 20px 50px 20px;
    width:100%;

    list-style-type: none;
}



.beer-item {
    user-select: none;
    display:flex;
    flex-direction:column;

    background-color: hsl(0, 0%, 85%);

    padding:15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    cursor: pointer;
}

.beer-item:hover{
    background-color: hsl(40, 40%, 80%);
}

.beer-details{
   display:flex;
    flex-direction: row;

}

.tile-details {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 12px;
}


@media screen and (min-width: 500px) {
    .beer-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 730px) {
    .beer-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}